*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.popup{
    background: url(bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .popup-option{
        font-size: clamp(25px, 3vw, 45px);
        background-image: url(banner-black.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #ddd;

        .popup-link{
            color: #fff;
            transition: all 300ms ease-in-out;
            border: 1px solid #ddd;
            &:hover{
                background-color: rgba(136, 130, 130, 0.3);
            }
        }
    }
}